@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
  }

  .custom-underline {
    text-decoration-color: white;
    text-decoration-thickness: 0.125rem; /* You can adjust the thickness as needed */
  }
  